@font-face {
  font-family: 'KAGE-Freebies-Black';
  src: url('KAGE-Freebies-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  list-style: none;
  padding: 13px; 
  margin: 0; 
  display: flex;
  justify-content: space-around;
  align-items: center; 
  background-color: #a8937a;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: #e7e4de; 
  padding: 10px;
  font-size: 13px;
  font-weight: 570;
  font-family: Verdana;
}

body {
  background-color: #ada192;
  margin: 0;
}

h1 {
  color: #e7e4de;
  font-family: 'KAGE-Freebies-Black';
  font-size: 75px;
  text-align: center;
  margin-bottom: 20px; 
}

p {
  color: #e7e4de;
  text-align: center;
  font-size: 23px;
}


.awards,
.work_exp,
.ecs,
.academics,
.contact {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  height: auto;
  border-radius: 10px;
  size: 80%;
  margin-bottom: 20px;
  padding: 20px; 
}


.awards img,
.work_exp img,
.ecs img,
.academics img,
.contact img {
  width: 700px; 
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Make the images slightly rounded */
  margin-right: 10px; /* Add margin between images */
}
